<div class="container px-8 lg:px-24 mx-auto pt-24 flex justify-center">
    <div class="w-full">
        <p class="text-lg font-pacifico text-center text-primary">About CakeTime</p>
        <div class="flex items-center justify-center mt-5">
            <div class="px-10 lg:px-16 border-2 border-black bg-black"></div>
            <div class="px-10 lg:px-16 border-2 border-black bg-black py-0.5"></div>
            <div class="px-10 lg:px-16 border-2 border-black bg-black"></div>
        </div>
        <h1 class="uppercase text-center py-4 text-xl lg:text-3xl font-bold">welcome to caketime</h1>
        <div class="flex items-center justify-center">
            <div class="px-10 lg:px-16 border-2 border-black bg-black"></div>
            <div class="px-10 lg:px-16 border-2 border-black bg-black py-0.5"></div>
            <div class="px-10 lg:px-16 border-2 border-black bg-black"></div>
        </div>
        <div class="lg:flex justify-center mt-10 lg:mt-20 items-center">
            <div class="lg:w-1/3 w-full">
                <img src="https://images.unsplash.com/photo-1602351447937-745cb720612f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=386&q=80" class="w-full lg:w-auto" />
            </div>
            <div class="w-full mt-6 lg:mt-0 lg:w-2/3">
                <h1 class="text-xl lg:text-3xl font-bold capitalize text-center lg:text-start">Sweetness that delights your senses</h1>
                <p class="pt-5 text-sm text-center xl:text-lg text-black/50 lg:text-start">
                    The history of bread stores dates back to the early 20th century, when the first bakery was established in a small town. The bakery was a family-owned business that produced fresh bread daily using traditional methods passed down from generation to generation. <br> <br> The bread was made with natural ingredients, such as flour, yeast, water, and salt, and baked in a wood-fired oven. This resulted in bread with a crispy crust and a soft, fluffy interior. As the popularity of bread grew, more bakeries opened and began producing a wider variety of breads, including whole wheat, rye, and sourdough. With the introduction of new baking techniques, such as mechanical mixers and automated ovens, bakeries were able to produce bread more efficiently and at a lower cost.
                </p>
                <div class="flex justify-center lg:justify-start">
                    <button class="border-2 rounded-full p-2 border-primary mt-4">
                        <p class="uppercase bg-primary rounded-full font-bold text-white py-2 lg:py-4 px-6 lg:px-8 text-xs">Order Now</p>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mt-10 lg:mt-0 grid grid-cols-2 lg:grid-cols-3 gap-4 lg:gap-9 mb-24 w-full px-8 lg:px-24 py-12 bg-no-repeat bg-center bg-cover" style="background-image: url('../../../assets/background-service.png');">
    <div class="flex justify-between items-center gap-4">
        <div class="w-2/4 lg:w-1/4 border-4 border-primary">
            <div class="text-center py-6 lg:py-7">
                <i class="fa-solid fa-star text-xl lg:text-4xl text-primary"></i>
            </div>
        </div>
        <div class="w-3/4">
            <h1 class="capitalize text-white font-bold text-lg lg:text-3xl text-start">overall rating</h1>
            <p class="text-white text-sm lg:text-lg pt-2 text-start">4.5 Rating</p>
        </div>
    </div>
    <div class="flex justify-between items-center gap-4">
        <div class="w-2/4 lg:w-1/4 border-4 border-primary">
            <div class="text-center py-6 lg:py-7">
                <i class="fa-solid fa-users text-xl lg:text-4xl text-primary"></i>
            </div>
        </div>
        <div class="w-3/4">
            <h1 class="capitalize text-white font-bold text-lg lg:text-3xl text-start">all shop visitor</h1>
            <p class="text-white text-sm lg:text-lg pt-2 text-start">1202 Clients</p>
        </div>
    </div>
    <div class="flex justify-between items-center gap-4">
        <div class="w-2/4 lg:w-1/4 border-4 border-primary">
            <div class="text-center py-6 lg:py-7">
                <i class="fa-solid fa-star text-xl lg:text-4xl text-primary"></i>
            </div>
        </div>
        <div class="w-3/4">
            <h1 class="capitalize text-white font-bold text-lg lg:text-3xl text-start">All menu cakes</h1>
            <p class="text-white text-sm lg:text-lg pt-2 text-start">23 Cakes</p>
        </div>
    </div>
</div>