<div class="w-full lg:px-24 px-8 bg-violet-50 bg-cover relative flex justify-center pt-60 pb-20 bg-none" style="background-image: url('../../../assets/background-discount.png');">
    <div class="w-1/3 mx-auto">
        <p class="text-4xl uppercase font-bold text-white text-center">Bread discount now!</p>
        <button class="bg-primary p-4 rounded-full w-full mt-10">
            <p class="text-sm px-10 py-4 border-2 border-white rounded-full font-semibold text-white">Get discount Now</p>
        </button>
    </div>
    <div class="absolute -top-40 grid grid-cols-3 gap-4 px-24 container mx-auto">
        <div class="w-full bg-primary flex justify-center items-center flex-col py-12 px-10">
            <h1 class="text-2xl font-bold uppercase text-white">birthday cake</h1>
            <p class="text-center text-lg text-white py-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum congue ultricies tortor sit amet tempus. Maecenas eleifend fringilla sapien auctor finibus.</p>
            <p class="text-black font-semibold text-sm cursor-pointer border-b-4 border-black">Read More</p>
        </div>
        <div class="w-full bg-primary flex justify-center items-center flex-col py-12 px-10">
            <h1 class="text-2xl font-bold uppercase text-white">birthday cake</h1>
            <p class="text-center text-lg text-white py-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum congue ultricies tortor sit amet tempus. Maecenas eleifend fringilla sapien auctor finibus.</p>
            <p class="text-black font-semibold text-sm cursor-pointer border-b-4 border-black">Read More</p>
        </div>
        <div class="w-full bg-primary flex justify-center items-center flex-col py-12 px-10">
            <h1 class="text-2xl font-bold uppercase text-white">birthday cake</h1>
            <p class="text-center text-lg text-white py-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum congue ultricies tortor sit amet tempus. Maecenas eleifend fringilla sapien auctor finibus.</p>
            <p class="text-black font-semibold text-sm cursor-pointer border-b-4 border-black">Read More</p>
        </div>
    </div>
</div>