<div class="container px-8 lg:px-24 mx-auto flex justify-center mb-24">
    <div class="w-full">
        <p class="text-lg font-pacifico text-center text-primary">About CakeTime</p>
        <div class="flex items-center justify-center mt-5">
            <div class="px-10 lg:px-16 border-2 border-black bg-black"></div>
            <div class="px-10 lg:px-16 border-2 border-black bg-black py-0.5"></div>
            <div class="px-10 lg:px-16 border-2 border-black bg-black"></div>
        </div>
        <h1 class="uppercase text-center py-4 text-xl lg:text-3xl font-bold">Available menus and prices</h1>
        <div class="flex items-center justify-center">
            <div class="px-10 lg:px-16 border-2 border-black bg-black"></div>
            <div class="px-10 lg:px-16 border-2 border-black bg-black py-0.5"></div>
            <div class="px-10 lg:px-16 border-2 border-black bg-black"></div>
        </div>
        <div class="lg:mt-4 text-center">
            <p class="capitalize text-sm lg:text-lg font-bold text-primary my-4">Category cake</p>
            <div class="w-full lg:w-2/4 bg-black mx-auto p-3 lg:p-4">
                <div class="border-2 border-white grid grid-cols-3 p-3 lg:p-4">
                    <button class="uppercase font-bold text-xs lg:text-base hover:text-white hover:bg-primary duration-300 text-primary px-4 py-5" [ngClass]="{'bg-primary text-white' : birthdayCake}" (click)="clickBirthdayCake()">birthday cake</button>
                    <button class="uppercase font-bold text-xs lg:text-base hover:text-white hover:bg-primary duration-300 text-primary px-4 py-5" [ngClass]="{'bg-primary text-white' : weadingCake}" (click)="clickWeadingCake()">weading cake</button>
                    <button class="uppercase font-bold text-xs lg:text-base hover:text-white hover:bg-primary duration-300 text-primary px-4 py-5" [ngClass]="{'bg-primary text-white' : customCake}" (click)="clickCustomCake()">custom cake</button>
                </div> 
            </div>
            <div [ngSwitch]="selected">
                <app-birthday-cake *ngSwitchCase="'birthday'"></app-birthday-cake>
                <app-weading-cake *ngSwitchCase="'weading'"></app-weading-cake>
                <app-custom-cake *ngSwitchCase="'custom'"></app-custom-cake>
            </div>
        </div>
    </div>
</div>