<div class="container px-8 lg:px-24 mx-auto flex justify-center mb-24">
    <div class="w-full">
        <p class="text-lg font-pacifico text-center text-primary">About CakeTime</p>
        <div class="flex items-center justify-center mt-5">
            <div class="px-10 lg:px-16 border-2 border-black bg-black"></div>
            <div class="px-10 lg:px-16 border-2 border-black bg-black py-0.5"></div>
            <div class="px-10 lg:px-16 border-2 border-black bg-black"></div>
        </div>
        <h1 class="uppercase text-center py-4 text-xl lg:text-3xl font-bold">Available menus and prices</h1>
        <div class="flex items-center justify-center">
            <div class="px-10 lg:px-16 border-2 border-black bg-black"></div>
            <div class="px-10 lg:px-16 border-2 border-black bg-black py-0.5"></div>
            <div class="px-10 lg:px-16 border-2 border-black bg-black"></div>
        </div>
        <div class="lg:mt-4 text-center">
            <p class="capitalize text-lg font-bold text-primary my-4">Category cake</p>
            <div class="w-2/4 bg-black mx-auto p-4">
                <div class="border-2 border-white grid grid-cols-3 p-4">
                    <button class="uppercase font-bold hover:text-white hover:bg-primary duration-300 text-white bg-primary px-4 py-5">birthday cake</button>
                    <button class="uppercase font-bold hover:text-white hover:bg-primary duration-300 text-primary px-4 py-5">weading cake</button>
                    <button class="uppercase font-bold hover:text-white hover:bg-primary duration-300 text-primary px-4 py-5">birthday cake</button>
                </div> 
            </div>
        </div>
    </div>
</div>